In [71]:
#!/usr/bin/python
#
#   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
#       Object InterFace Manual
#   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
#   author:
#       surajsinghbisht054@gmail.com
#       https://bitforestinfo.blogspot.com
#
#
#    About sqlorm:  
#          A Python object relational mapper for SQLite3.
#
#    Reference:  https://www.sqlite.org/lang.html
#               https://docs.python.org/3/library/sqlite3.html
#
#    Import:
#      from sqlorm import Model, Field
#

In [72]:
# Import Module
from sqlorm import Field, Model

In [73]:
# Creating A Database Models Structure
#
# Here, "TestingDataBase" is used as default Sqlite Database File Name 
class TestingDataBase(Model):
    # Creating New Table. Name="AboutTeachers"
    class AboutTeachers:
        # Creating 4 Columns. Name = Name, Age, Income, Phone
        #
        #Columns     Datatype
        Name    =   Field.String
        Age     =   Field.Integer
        Income  =   Field.Integer
        Phone   =   Field.LongInt
        #

    # Creating New Table. Name="AboutBooks"
    class AboutBooks:
        # Creating 4 Columns. Name = Name, Price, Class
        #
        # Columns   DataType
        Name    =   Field.String
        Price   =   Field.Integer
        Class   =   Field.String
        #                   

    # Creating New Table. Name="AboutStudents"
    class AboutStudents:
        # Creating 4 Columns. Name = Name, Age, Class, Phone
        #
        #Columns     Datatype
        Name    =   Field.String
        Age     =   Field.Integer
        Class  =   Field.String
        Phone   =   Field.LongInt
        #

In [74]:
#
#    =====================================
#    =========== DataBase ================
#    =====================================
#
#   connect(path="", dbname=None)   --> Connect To Database
#   close()                         --> Close Database    
#   save()                          --> Save All Changes
#   get_db_names()                  --> Get Default Database Name
#   get_all_columns_(TableName)     --> Get All Columns Name List
#   get_all_table_with_class()      --> Get All Tables With Class Object As Dictonery
#   get_all_tables_name()           --> Get All Tables Name
#   get_tables()                    --> Get All Tables Object
#   Table(name=None)                --> Get Table Object
#
# Create Object For InterFace        
DBase = TestingDataBase()

# Connect To DataBase
DBase.connect()
# or 
# DBase.connect(dbname="Testing_DataBase")

[Info] Creating New Database ....  Database Ready!
[Info] Creating New Tables And Columns ....
	 Table AboutBooks
		 Column Price
		 Column Name
		 Column Class
	 Table AboutTeachers
		 Column Phone
		 Column Name
		 Column Income
		 Column Age
	 Table AboutStudents
		 Column Phone
		 Column Name
		 Column Age
		 Column Class
 Done!..
[*] Checking Tables And Columns

In [75]:
# Get All Available Tables Names as list
print DBase.get_all_tables_name()

# Get All Tables With Interface Object In Dictionery
print DBase.get_tables()

['AboutBooks', 'AboutTeachers', 'AboutStudents']
{'AboutBooks': < TableControls:AboutBooks >, 'AboutTeachers': < TableControls:AboutTeachers >, 'AboutStudents': < TableControls:AboutStudents >}

In [76]:
# Get All Columns Names From Tables
for table in DBase.get_all_tables_name():
    print "Table Name : {}".format(table) 
    print DBase.get_all_columns_(table) # As List

Table Name : AboutBooks
[('Price', 'INTEGER'), ('Name', 'TEXT'), ('Class', 'TEXT')]
Table Name : AboutTeachers
[('Phone', 'INTEGER'), ('Name', 'TEXT'), ('Income', 'INTEGER'), ('Age', 'INTEGER')]
Table Name : AboutStudents
[('Phone', 'INTEGER'), ('Name', 'TEXT'), ('Age', 'INTEGER'), ('Class', 'TEXT')]

In [77]:
# Default Database Name 
print DBase.get_db_names()

TestingDataBase

In [78]:
#
#
#    =====================================
#    ============= Table =================   
#    =====================================
#
#   new()               --> New Row Interface
#   insert(**kwargs)    --> Insert New Values Into Row, id argument Required
#   update(id=None, data={}) --> Update Values Into Row
#   delete(id)          --> Delete Row , Id argument Required
#   search(**kwargs)    --> Search Row Object InterFace
#   get_all()           --> Get All Row Object InterFace as list
#   has(id)             --> Check Row
#   columns_name()      --> Get All Columns Names As List
#   save()              --> Save All Changes
#   get_tables_name()   --> Get Current Object Table Name
#   table_access(TableName) --> Change Current Object Table Access
#
#
# Get Table Interface
t = DBase.Table(name="AboutTeachers")
# or
t = DBase.get_tables()["AboutTeachers"]

print t

< TableControls:AboutTeachers >

In [79]:
#
# =====================================
# ============= Row ===================
# =====================================
#
#   get_all()           --> Get All Values In Dictionery
#   set_all(**kwargs)   --> Set Values
#   save()              --> Save Changes Into Database
#
#
# Create New Row Object Interface
nr = t.new()

print nr

< Row-ID:NEW >

In [80]:
# Set Values

nr.Age = 10        # Column Age

nr.Income = 45000  

nr.Name = "Suraj"

In [81]:
# Print Assign Values
print nr.get_all()

{'id': 'NEW', 'Phone': None, 'Age': 10, 'Name': 'Suraj', 'Income': 45000}

In [82]:
# Save Data Values In Database
nr.save()
#
# You Don't Need To Create New Row Object Again And Again.
# Because After Saving Data., 
# Row Object Interface Reset Automatically.
# And Then You Can Use Object

True

In [83]:
# Get All Values From Row Object Interface After Saving
print nr.get_all()

{'id': 'NEW', 'Phone': None, 'Age': None, 'Name': None, 'Income': None}

In [84]:
# Set New Values Using set_all
nr.set_all(Age=10, Income = 45000, Name = "Sam")

In [85]:
# Get All Assigned Values As Dictonery
print nr.get_all()

{'id': 'NEW', 'Phone': None, 'Age': 10, 'Name': 'Sam', 'Income': 45000}

In [86]:
# Save Changes
print nr.save()

True

In [87]:
# Get All Row Object Interface As List
print t.get_all()

[< Row-ID:1 >, < Row-ID:2 >]

In [88]:
# Get Row Object Interface, Using Id As List
print t.get(id=2)

[< Row-ID:2 >]

In [89]:
# For Accessing Row Object Interface
storeobj = t.get(id=1)[0]

In [90]:
# Get All Values As Dictonery From Row Object Interface
print storeobj.get_all()

{'id': 1, 'Phone': None, 'Age': 10, 'Name': u'Suraj', 'Income': 45000}

In [91]:
# Updae Value
storeobj.Income = 50000

In [92]:
# Save Update
storeobj.save()

True

In [93]:
# Get All Row Object Interface 
for i in t.get_all():
    # Get All Values From Row OBject Interface As Dictonery
    print i.get_all()

{'id': 1, 'Phone': None, 'Age': 10, 'Name': u'Suraj', 'Income': 50000}
{'id': 2, 'Phone': None, 'Age': 10, 'Name': u'Sam', 'Income': 45000}

In [94]:
# Search Row Object Interface Using Any Values of column
obj = t.search(Income=45000)[0]

print obj

Search trgger
< Row-ID:2 >

In [95]:
# Delete Row Using Row OBject Interface Or Id 
t.delete(obj)

In [96]:
# Again! Get All Row Object Interface
t.get_all()

[< Row-ID:1 >]

In [97]:
# Get All Column Names Of Current Selected Table Object Interface
t.columns_name()

[('Phone', 'INTEGER'),
 ('Name', 'TEXT'),
 ('Income', 'INTEGER'),
 ('Age', 'INTEGER')]

In [98]:
# Get All Table Names 
t.get_tables_name()

['AboutBooks', 'AboutTeachers', 'AboutStudents']

In [99]:
# Change Current Table Object Interface
t.TableHook

'AboutTeachers'

In [100]:
# Save Changes
DBase.save()

# Close Database
DBase.close()

raw_input("[+] Testing Complete.")

[+] Testing Complete.

''